	{% extends 'projects/base_user.html' %}
    {% block body %}

    <header class="intro-header" style="background-image: url('img/post-bg.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="post-heading">
                        <h1>{{information.project_title}}</h1>
                        <h2 class="subheading">xyz</h2>
                        <span class="meta"></span>
                        <!-- <p>information.photos</p> -->
                        {% for image in information.images_set.all %}
                            <img src="{{image.photo.url}}">
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="intro-header">qw</div>

    <article>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <p>Project details</p>
                </div>
            </div>
        </div>
    </article>

    <hr>
    {% endblock %}